:host {
  display: block;
  height: 100vh;
}

.chat-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-view-container {
  flex: 1;
  overflow-y: auto;
}
@import '../chat-viewer/chat-view.scss';

